<!DOCTYPE html>
<html>
  <head>
    <title>MIREA Assistant</title>

    <%- include('layout/head') -%>

    <script src="/js/chats.js"></script>
  </head>
  <body>
    <div class="container">
      <%- include('layout/header') -%>

      <%- include('layout/menu') -%>

      <%- include('layout/message') -%>

      <div class="ui search mobile-centered" id="search">
        <div class="ui icon input">
          <input class="prompt" type="text" placeholder="Поиск по названию...">
          <i class="search icon"></i>
        </div>
        <div class="results"></div>
      </div>

      <div class="button group mobile-centered" id="chat-add">
        <a href="https://vk.com/id445367917?w=wall445367917_2" class="ui teal button" target="_blank"><i class="plus icon"></i> Добавить чат</a>
      </div>

      <div class="ui five stackable cards" id="chats">

      </div>

      <div class="ui center aligned grid" id="load_more_container">
        <a href="javascript:loadMore()" id="load_more" class="ui basic big button" style="z-index: 1000; display: inline-block;">Загрузить еще</a>
      </div>

      <div class="ui tiny modal" id="join">
        <div class="header">Подключение к <span id="join-title">?</span></div>
        <div class="content" id="join-content">
          <span id="join-1" style="display:none;">
            <h4>Введите ссылку на страницу ВК</h4>

            <div class="ui action input">
              <input type="text" placeholder="Ссылка на страницу ВК..." id="vk">
              <button class="ui button" onclick="add()"><i class="send icon"></i></button>
            </div>
          </span>
          <span id="join-2" style="display:none;">
            <h4>Примите заявку бота в друзья</h4>

            <a class="ui green button" href="https://vk.com/id445367917" target="_blank">Принять</a>
          </span>
          <span id="join-3" style="display:none;">
            <h4>Подключитесь к чату</h4>

            <a class="ui green button" href="javascript:connect()" id="join-connect">Подключиться</a>
          </p>
          <span id="join-4" style="display:none;">
            <h4>Вы были подключены к чату!</h4>
          </span>
        </div>
        <div class="actions">
          <div class="ui cancel red button">Отменить</div>
        </div>
      </div>

    <%- include('layout/about') -%>
  </body>
</html>
