<!DOCTYPE html>
<html>
  <head>
    <title>MIREA Assistant</title>

    <%- include('layout/head') -%>

    <script src="/js/schedule.js"></script>
  </head>
  <body>
    <div class="container">
      <%- include('layout/header') -%>

      <%- include('layout/menu') -%>

      <%- include('layout/message') -%>

      <div class="ui compact form" id="form">
        <div class="disabled fields" id="institute">
          <div class="field mobile-centered">
            <label>Институт</label>
            <div class="ui selection dropdown" id="institute_dropdown">
              <input type="hidden">
              <i class="dropdown icon"></i>
              <div class="default text">Институт</div>
              <div class="menu" id="institute_value">
              </div>
            </div>
          </div>
          <div class="disabled field mobile-centered" id="group">
            <label>Группа</label>
            <div class="ui selection dropdown" id="group_dropdown">
              <input type="hidden">
              <i class="dropdown icon"></i>
              <div class="default text">Группа</div>
              <div class="menu" id="group_value">
              </div>
            </div>
          </div>
          <div class="disabled field mobile-centered" id="week">
            <label>Неделя</label>
            <div class="ui selection dropdown" id="week_dropdown">
              <input type="hidden">
              <i class="dropdown icon"></i>
              <div class="default text">Неделя</div>
              <div class="menu" id="value">
                <div class="item" data-value="odd" onclick="selectWeek('odd')">Нечетная</div>
                <div class="item" data-value="even" onclick="selectWeek('even')">Четная</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ui stackable two column grid" id="schedule">

      </div>
    </div>

    <%- include('layout/about') -%>
  </body>
</html>
