<!DOCTYPE html>
<html>
  <head>
    <title>MIREA Assistant</title>

    <%- include('layout/head') -%>
  </head>
  <body>
    <div class="container">
      <%- include('layout/header') -%>

      <%- include('layout/menu') -%>

      <%- include('layout/message') -%>

      <div class="mobile-centered">
        <iframe src="https://discordapp.com/widget?id=363013062988529674&amp;theme=dark" height="500" width="300" allowtransparency="true" frameborder="0"></iframe>
      </div>

    <%- include('layout/about') -%>
  </body>
</html>
